<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">

    <title>Block Erupter Store</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">

    <meta name="description" content="">

    <meta name="author" content="">

    <script src="js/bootstrap/jquery.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/template.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="css/cart.css" type="text/css" rel="stylesheet"/>


    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>	
	
    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
    <script src="js/videocontrol2.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
         		$.fn.fullpage({
         		slidesColor: ['black','black','black','black'],
         	                navigation: true,
                                loopBottom:true,
                                onLeave:handleScroll,
                                scrollingSpeed:0,
                                verticalCentered:true
                     });
      var video1 = $('#video1').get(0);
      var video2 = $('#video2').get(0);
      var video3 = $('#video3').get(0);
      var video4 = $('#video4').get(0);
      var video5 = $('#video5').get(0);
      video1.play();
      

         	});
    </script>
    <style>
      .section{
      text-align:center;
      border:none;
      }
      video{

      }
      .keyframe{
      height:50%;
      }
      .keynote{
      color:white;
      }
    </style>
  </head>



  <body style="background:black">
    <div class="navbar navbar-inverse navbar-fixed-top" style="padding-top:0px;">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <span id="storeBranding"><a class="brand" href="/">Block Erupter Store</a></span>
	  <div class="nav-collapse collapse">
	    <ul class="nav" id="mainMenuLinks">
              <li><a href="/store">Store</a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>

    {{{ yield }}}

    <script src="js/bootstrap/bootstrap.min.js"></script>

  </body>

</html>
