
<div class="section" id="section1">
  <a href="/store">
  <video id="video1" playbackRate=0.5 muted height="60%">
  <source src="media/1.webm" type="video/webm">
  <source src="media/1.mp4" type="video/mp4">
  Your browser doesn't support
  </video>
  </a>
  <div class="keynote hide" id="note1">
    <h2>Block Erupter Cube</h2>
    <p>
      Speed: 30 GH/s guaranteed. (38.4 GH/s theoretical when overclocked)<br/>
      Power Consumption: Approx. 200W. (Approx. 280W when overclocked)<br/>
      Compact, self-contained unit: 135.5mm x 152.5mm x 145mm
    </p>
  </div>
</div>

<div class="section" id="section2">
  <a href="/store">
  <video id="video2" muted height="60%">
  <source src="media/2.webm" type="video/webm">
  <source src="media/2.mp4" type="video/mp4">
  Your browser doesn't support
  </video>
  </a>
  <div class="keynote" id="note2">
    <h2>Plug & Play</h2>
    <p>
      2PCIe 6 pin connectors for power supply.<br/>
      Rj45 socket for Ethernet connection.<br/>
      USB Connector for debugging and firmware updates.<br/>
      Configuration through web page.<br/>
      Status LED indicating getwork/putwork activity.
    </p>
  </div>
</div>

<div class="section" id="section3">
  <a href="/store">
  <video id="video3" muted height="60%">
  <source src="media/3.webm" type="video/webm">
  <source src="media/3.mp4" type="video/mp4">
  Your browser doesn't support
  </video>
  </a>
  <div class="keynote" id="note3">
    <h2>Powered by the World's First Mining ASIC.</h2>
    <p>
      Consists of six mini blades, each with 16 ASIC chips. <br/>
      Speed of each chip could be monitored in web page.<br/>
      Overclocking just by one button click.
    </p>
  </div>
</div>

<div class="section" id="section4">
  <a href="/store">
  <video id="video4" muted height="60%">
  <source src="media/4.webm" type="video/webm">
  <source src="media/4.mp4" type="video/mp4">
  Your browser doesn't support
  </video>
  </a>
  <div class="keynote" id="note4">
    <h2>Efficient Cooling</h2>
    <p>
      Tubular structure built for airflow.<br/>
      Built-in 12cm fan, strong but quiet.<br/>
      Protection: the unit will be powered off in case of fan failure or slow fan.
    </p>
  </div>
</div>

<div class="section" id="section5">
  <a href="/store">
  <video id="video5" muted height="60%">
  <source src="media/5-2.webm" type="video/webm">
  <source src="media/5-2.mp4" type="video/mp4">
  Your browser doesn't support
  </video>
  </a>
  <div class="keynote" id="note5">
    <h2>Scalable</h2>
    <p>
      Extruded aluminum enclosure. Rigid and tough.<br/>
      Multiple units to be slided into each other by "tongue and groove" system, allowing for integrated larger settings.<br/>
      Accessaries coming soon for deployment in scales: adapter for server PSUs, cable converters, etc.
    </p>
  </div>
</div>
