
<div class="section" id="section1">
  <a href="/store">
  <video id="video1" muted height="60%">
  <source src="media/0.webm" type="video/webm">
  </video>
  </a>
</div>

<div class="section" id="section2">
  <a href="/store"><img src="img/box1.jpg"></a>
</div>

<div class="section" id="section3">
  <a href="/store">
  <video id="video2" muted height="60%">
  <source src="media/1.webm" type="video/webm">
  </video>
  </a>
</div>

<div class="section" id="section4">
  <a href="/store"><img src="img/box3.jpg"></a>
</div>

<div class="section" id="section5">
  <a href="/store">
  <video id="video3" muted height="60%">
  <source src="media/2.webm" type="video/webm">
  </video>
  </a>
</div>

<div class="section" id="section6">
  <a href="/store"><img src="img/box2.jpg"></a>
</div>

<div class="section" id="section7">
  <a href="/store">
  <video id="video4" muted height="60%">
  <source src="media/3.webm" type="video/webm">
  </video>
  </a>
</div>

<div class="section" id="section8">
  <a href="/store"><img src="img/box4.jpg"></a>
</div>



