<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ASICMiner Store</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="css/ui.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  </head>
  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ASICMiner</a>
          <div class="nav-collapse collapse">
            <ul id="menu" class="nav navbar-nav">
              <li id="menu-store"><a href="/">Store</a></li>
              <li id="menu-order"><a href="/">Order</a></li>
            </ul>
          </div><!--/.nav-collapse -->
          <div id="account_menu" class="btn-group pull-right">
            <i class="glyphicon glyphicon-shopping-cart"></i>
            <a id="open-cart" class="open noboxshadow dropdown-toggle" data-toggle="dropdown" href="#" style="box-shadow:none;color:FF8C00;">My Cart<b class="caret"></b>
</a>
            <span id="total_info">(0 item) Ƀ0.0000</span>

            <ul class="dropdown-menu mini-cart">
                  <li>
                    <div id="cart-box" class="box-cart" style="width:320px">
                      <div class="box-content clearfix">
                  	<h3>Shopping Cart</h3>&nbsp;<span id="checkout-wait" style="width:15%;display:none;"><img src="img/misc/wait18trans.gif"></span><br>
		        <div id="shoppingcart"><h3>No items in your cart</h3></div>
	              </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>


        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
	{{{ yield }}}
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">ASICMiner Store &copy 2013</p>
      </div>
    </div>

    <script>
      var path = window.location.pathname.slice(1);
      if(path=="") $("#menu-store").addClass("active");
      if(path=="login") $("#menu-login").addClass("active");
      if(path=="order") $("#menu-order").addClass("active");
    </script>


  </body>
</html>
