<div class="row">
  <div class="span6">
    <section class="slider">
      <div class="flexslider" id="slider">
	<ul class="slides">
	  <li id="0">
	    <a href="/#section1"><img src="img/box1.jpg" /></a>
	    <span class="slide-background"></span>
	    <div class="slide-caption-first">
	      <span class="slide-title">Block Erupter</span>
	      <p class="slide-subtitle"></p>
	    </div>
	  </li>
	  <li id="1">
	    <a  href="/#section2"><img src="img/box2.jpg" /></a>
	    <span class="slide-background"></span>
	    <div class="slide-caption">
	      <span class="slide-title">Block Erupter Cube</span>
	      <p class="slide-subtitle">BE100 ASIC Chip</p>
	    </div>
	  </li>
          <li id="2">
	    <a href="/#section3"><img src="img/box3.jpg" /></a>
	    <span class="slide-background"></span>
	    <div class="slide-caption">
	      <span class="slide-title">Block Erupter Cube</span>
	      <p class="slide-subtitle">Plug&Play</p>
	    </div>
	  </li>
          <li id="3">
             <a href="/#section4"><img src="img/box4.jpg" /></a>
             <span class="slide-background"></span>
             <div class="slide-caption">
               <span class="slide-title">Block Erupter Blade</span>
               <p class="slide-subtitle">Efficient Cooling</p>
             </div>
          </li>
           <li id="4">
             <a href="/#section5"><img src="img/box5.jpg" /></a>
             <span class="slide-background"></span>
             <div class="slide-caption">
               <span class="slide-title">Block Erupter Blade</span>
               <p class="slide-subtitle">Scalable</p>
             </div>
           </li>
         </ul>
       </div>
     </section>
   </div>
   <div class="span6">
     <strong>Features:</strong><br>
     <ul>
       <li>Speed:30 GH/s guaranteed. (38.4 GH/s theorectical when overclocked)</li>
       <li>Power Consumption: Approx. 200W. (Approx. 280W when overclocked)</li>
       <li>Compact, self-contained unit: 135.5mm X 152.5mm X 145mm</li>
       <li>Power supply:2PCIe 6pin connectors</li>
       <li>RJ45 ethernet port</li>
       <li>Mini USB port for debugging and firmware upgrade</li>
       <li>Comprehensive web interface</li>
       <li>LED indicating getwork/putwork activity</li>
       <li>One-click overclocking</li>
       <li>Six mini blades with 16 ASIC chips each</li>
       <li>Extruded aluminum enclosure</li>
    </ul>
  </div>
</div>




<div class="row" id="items">
  {{#products}}
    <div class="span6" >
      <div class="box" style="height:480px;">
        {{#available}}
          <h3>{{name}}</h3><br/>
        {{/available}}
        {{^available}}
          <h3>{{name}}<font color="red">(Coming Soon)</font></h3><br/>
        {{/available}}
        <div class="mainArea">
          <div class="row" style="margin-left:0px;">
            <div class="span3" style="overflow:hidden;">
              <img class="templateImage" src="img/{{name_short}}.jpg" border="0">
            </div>
            <div class="span2" style="height:300px;overflow:hidden;">
              {{{ detail }}}
              <br/><br/>
            </div>
            <br/>

            <hr/>

            Price: <strong>${{price}}</strong><br/><br/>

            <p>
              <input id="quantity-productId-{{name_short}}" type="number" value=1 min=1><br>
              {{#available}}
	        <button productid="{{name_short}}" type="button" class="addToCart btn btn-success">Add to cart</button>
              {{/available}}
              {{^available}}
	      <button productid="{{name_short}}" type="button" class="addToCart btn btn-success disabled">Add to cart</button>
              {{/available}}
            </p>

          </div>
        </div>
      </div>
    </div>
  {{/products}}
</div>

