<div>
Order Number: 1000 
Order Date: Friday 30 April, 2004 
Payment Method: Secure Credit Card

Products 
------------------------------------------------------ 
2 x Dual Super Bright 12 Inch Cathode Kit = $19.98 
Switch None 
Color Red 
2 x Dual Super Bright 12 Inch Cathode Kit = $19.98 
Color Blue 
Switch None 
------------------------------------------------------ 
Sub-Total: $39.96 
United Parcel Service (Ground): $11.42 
Total: $51.38

Shipping Address: 
Shmoe Joe Lo 
123 Pine St. 
New York, NY 10001 
United States

Billing Address: 
Shmoe Joe Lo 
123 Pine St. 
New York, NY 10001 
United States
</div>
