<script>
(function($){
    $.fn.serializeObject = function(){

        var self = this,
            json = {},
            push_counters = {},
            patterns = {
                "validate": /^[a-zA-Z][a-zA-Z0-9_]*(?:\[(?:\d*|[a-zA-Z0-9_]+)\])*$/,
                "key":      /[a-zA-Z0-9_]+|(?=\[\])/g,
                "push":     /^$/,
                "fixed":    /^\d+$/,
                "named":    /^[a-zA-Z0-9_]+$/
            };


        this.build = function(base, key, value){
            base[key] = value;
            return base;
        };

        this.push_counter = function(key){
            if(push_counters[key] === undefined){
                push_counters[key] = 0;
            }
            return push_counters[key]++;
        };

        $.each($(this).serializeArray(), function(){

            // skip invalid keys
            if(!patterns.validate.test(this.name)){
                return;
            }

            var k,
                keys = this.name.match(patterns.key),
                merge = this.value,
                reverse_key = this.name;

            while((k = keys.pop()) !== undefined){

                // adjust reverse_key
                reverse_key = reverse_key.replace(new RegExp("\\[" + k + "\\]$"), '');

                // push
                if(k.match(patterns.push)){
                    merge = self.build([], self.push_counter(reverse_key), merge);
                }

                // fixed
                else if(k.match(patterns.fixed)){
                    merge = self.build([], k, merge);
                }

                // named
                else if(k.match(patterns.named)){
                    merge = self.build({}, k, merge);
                }
            }

            json = $.extend(true, json, merge);
        });

        return json;
    };
})(jQuery);
</script>

<script>
  var RecaptchaOptions = {
   theme: 'white',
   lang: 'en'
  };
</script>

<script src="js/jquery-ui-autocomplete.js"></script>
<script src="js/jquery.select-to-autocomplete.min.js"></script>
<script type="text/javascript" charset="utf-8">
(function($){
  $(function(){
  $('#submit').click(function(){
      var products = $.cookie( 'sku' );
      if(products!=null && products!='') {
        $('#confirm-msg').html(renderCart());
        $('#order-confirm').modal();
      } else {
        alert("Your cart is empty!");
      };
      $('#confirm').click(function(){
        var order = $('#form').serializeObject();
        order.products = products;
        console.log(order);
        $.post('/placeorder',order,function(res){console.log(res)});
      });
   });
   $('#select').selectToAutocomplete();
   $('#cancel').click(function(){$('#order-confirm').modal('hide');});
 });
})(jQuery);
</script>

<style type="text/css" media="screen">
	  body {
	    font-family: Arial, Verdana, sans-serif;
	    font-size: 13px;
	  }
    .ui-autocomplete {
      padding: 0;
      list-style: none;
      background-color: #fff;
      width: 218px;
      border: 1px solid #B0BECA;
      max-height: 350px;
      overflow-y: scroll;
    }
    .ui-autocomplete .ui-menu-item a {
      border-top: 1px solid #B0BECA;
      display: block;
      padding: 4px 6px;
      color: #353D44;
      cursor: pointer;
    }
    .ui-autocomplete .ui-menu-item:first-child a {
      border-top: none;
    }
    .ui-autocomplete .ui-menu-item a.ui-state-hover {
      background-color: #D5E5F4;
      color: #161A1C;
    }
</style>

<form id="form" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Order Detail</legend>


<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="email">Email</label>
  <div class="controls">
    <input id="email" name="email" type="text" placeholder="" class="input-xlarge" >
    <p class="help-block">Please leave correct Email address to receive order confirmation</p>
  </div>
</div>


<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="firstname">First Name</label>
  <div class="controls">
    <input id="firstname" name="firstname" type="text" placeholder="" class="input-xlarge" >
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="lastname">Last Name</label>
  <div class="controls">
    <input id="lastname" name="lastname" type="text" placeholder="" class="input-xlarge" >
    
  </div>
</div>



<div class="control-group">
  <label class="control-label" for="country">Country</label>
  <div class="controls">
    <select name="Country" id="country-selector" autocorrect="on" autocomplete="on">
      <option value="China" data-relevancy-booster="3.5" data-alternative-spellings="CN Zhongguo Zhonghua Peoples Republic 中国/中华">China</option>
      <option value="Honduras" data-alternative-spellings="HN">Honduras</option>
      <option value="Hong Kong" data-alternative-spellings="HK 香港">Hong Kong</option>
      <option value="Hungary" data-alternative-spellings="HU Magyarország">Hungary</option>
      <option value="India" data-alternative-spellings="IN भारत गणराज्य Hindustan" data-relevancy-booster="3">India</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="state">State/Province</label>
  <div class="controls">
    <input id="state" name="state" type="text" placeholder="" class="input-xlarge" >
    
  </div>
</div>


<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="city">City</label>
  <div class="controls">
    <input id="city" name="city" type="text" placeholder="" class="input-xlarge" >
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="zipcode">Zip Code</label>
  <div class="controls">
    <input id="zipcode" name="zipcode" type="text" placeholder="" class="input-xlarge" >
    
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="addr">Address</label>
  <div class="controls">
    <input id="addr" name="addr" type="text" placeholder="" class="input-xlarge" >
  </div>
</div>


<div class="control-group">
  <label class="control-label" for="captcha">Verification Code</label>
  <div class="controls">
    {{{ recaptcha_form }}}
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" type="button" name="submit" class="btn btn-primary">Place Order</button>
  </div>
</div>

</fieldset>

</form>

<div class="modal hide" id="order-confirm" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h1>Confirm Your Order</h1>
  </div>
  <div class="modal-body">
    <div class="box-content">
      <div id="confirm-msg">
      </div>
      <div class="pull-right">
        <table>
          <tr>
            <td>
              <div class="controls">
                <button id="confirm" name="confirm" class="btn btn-large btn-danger">Confirm</button>
              </div>
            </td>
            <td>
              <div class="controls">
                <button id="cancel" name="cancel" class="btn btn-large btn-info">Cancel</button>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>